.btn-style {
    border-style: groove;
}

.nav-item {
    text-decoration: none;
    color: aliceblue;
}

.nav-item:hover {
    text-decoration: none;
    color: aliceblue;
}

.nav-item:visited {
    text-decoration: none;
    color: aliceblue;
}