.body-style {
    display: flex;
    flex-direction: column;
    border-style: groove;
    background-image: url(../../media/bg-positions.jpg);
    justify-content: space-between;
    min-height: 100vh;
}