.header {
    display: flex;
    flex-direction: row;
    border-style: groove;
    background-image: url(../../media/metal-head.jpg);
}

.img {
    margin: 5px;
}

.css-adaptive {
    display: block;
    max-width: 100%;
    height: auto;
}

.content {
    justify-content: space-between;
}